#issue_content {
    display: none;
    width: 100%;
}

button {
    width: 100%;
    background-color: white;
    color: black;
    font-family: hiroshige;
    border-width: 3px;
    border-style: ridge;
    border-color: black;
    text-decoration: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

#chatbox {
    display: inline-block;
    margin-top: 50px;
    width: 100%;
    height: 600px;
    border: none;
    overflow-y: hidden;
}
