#mediatable {
    font-family: cjk;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    column-width: auto;
}

th {
    text-align: left;
    font-family: hiroshige;
}

td {
    vertical-align: top;
    text-align: left;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: var(--fg-colour);
}

.itemtitle {
    font-weight: bold;
    text-decoration: underline;
}

.mediacontent {
    display: none;
}
