.mediagrid {
}

.mediaitem {
    width: 144px;
    height: 144px;
    float: left;
    padding: 2px;
    border: 1px lightgray dashed;
}

.mediacover {
    height: 100%;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.content {
    overflow: scroll;
    display: none;
}
